parameters:
  overcloud_flavor: nova-flavor-for-overcloud-nodes
  overcloud_image: glance-image-for-overcloud-nodes
  key_name: nova-keypair-name-to-inject-for-all-nodes
  private_net: neutron-network-name-for-all-nodes
  overcloud_prefix: prefix-applied-to-overcloud-node-names
  overcloud_node_count: count-of-overcloud-nodes
  public_net: neutron-network-name-for-undercloud-floating-ip
  undercloud_name: name-of-undercloud-node
  undercloud_image: glance-image-for-undercloud-node
  undercloud_flavor: nova-flavor-for-undercloud-node

# Uncomment to set a NodeExtraConfig
# resource-registry:
#   OS::Traas::NodeExtraConfig: extra-config/template.yaml
