parameters:
  overcloud_flavor:
  overcloud_image:
  key_name:
  private_net_admin:
  private_subnet_admin:
  private_net_cluster1:
  private_subnet_cluster1:
  private_net_cluster2:
  private_subnet_cluster2:
  private_net_cluster3:
  private_subnet_cluster3:
  overcloud_node_count:
  public_net:
  undercloud_image:
  undercloud_flavor:
  toci_jobtype:
