parameters:
  overcloud_flavor:
  overcloud_image:
  key_name:
  private_net_admin:
  private_net_cluster:
  private_subnet_admin:
  private_subnet_cluster:
  overcloud_node_count:
  public_net:
  undercloud_image:
  undercloud_flavor:
  toci_jobtype:
